:root {
  --item-bg: #f6f6f6;
  --item-bg-hover: #ededed;
  --item-border: #c5c5c5;
  --remove-btn-bg: #ddd;
  --remove-btn-bg-hover: #ccc;
  --placeholder-border:#c1780e;
  --placeholder-bg: #ffe8af;
  --text-colour: #454545;
  --draggable-icon: url(../images/draggable.gif);
  --body-padding: 40px;
  --item-height: 32px;
}

body {
  margin: 0;
  padding: var(--body-padding);
  font-family: Arial, Helvetica, sans-serif;
}

.m-b-10 {
  margin: 0 0 10px 0;
}

.m-b-20 {
  margin: 0 0 20px 0;
}

/*********/
/* Items */
/*********/

ul.sortable { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  width: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  border: none;
  background-color: #fafafa;
  min-height: calc(var(--item-height) + 2px);
}

ul.sortable li {
  background-color: var(--item-bg);
  font-size: 1rem;
  white-space: nowrap;
  width: auto;
  padding: 0;
  height: var(--item-height);
  border: 1px solid var(--item-border);
  transition: all 0.15s ease;
}

ul.sortable li:hover {
  background-color: var(--item-bg-hover);
  transition: background-color 0.15s ease;
}

ul.sortable li:not(:last-child) {
  margin: 0 10px 0 0;
}

.draggable-image {
  background-image: var(--draggable-icon);
  display: block;
  width: 18px;
  height: 18px;
  float: left;
  margin: 1px 5px 0 0;
  cursor: move;
}

.draggable {
  display: inline-block;
  cursor: move;
  padding: 6px 10px;
  width: 50px;
}

.selected {
  /* border: 1px solid var(--item-border); */
  box-shadow: 0px 5px 5px -2px #00000033;
  transition: box-shadow 0.25 ease;
}

.ui-sortable-placeholder {
  --border-size: 2px;
  display: inline-block;
  border: var(--border-size) dashed var(--placeholder-border) !important;
  background-color: var(--placeholder-bg) !important;
  height: calc(--item-height - var(--border-size) * 2) !important;
  min-width: 83px !important;
  padding: 0 !important;
}

.ui-widget-content {
  border: 1px solid var(--item-border) !important;
}

/*****************/
/* Remove button */
/*****************/

.remove {
  position: relative;
  top: 0;
  right: 0;
  float: right;
  background-color: var(--remove-btn-bg); 
  border: none;
  color: var(--text-colour);
  padding: 1px 1px 5px 4px;
  width: 10px;
  height: 10px;
  font-size: 0.875rem;
  border-radius: 0;
  line-height: 1;
  cursor: pointer;
  margin: 0;
  transition: all 0.15s ease;
}

.remove:hover {
  background-color: var(--remove-btn-bg-hover);
  transition: all 0.15s ease;
}

.remove:before {
  content: '×';
}

/********/
/* Form */
/********/

.add-buttons {
  text-align: center;
}

button:disabled {
  opacity: 0.5;
  cursor: auto;
}

button:disabled:hover {
  background-color: #f6f6f6 !important;
}

td {
  padding: 5px 10px 5px 0;
}

